
<form [formGroup]="checkoutPayment" (ngSubmit)="onSubmit()">
    <select name="paymentMethod" formControlName="paymentMethod">
        <option value="">Select Payment Method</option>
        <option value="creditCard">Credit Card</option>
        <option value="debitCard">Debit Card</option>
        <option value="paypal">PayPal</option>
        <option value="googlePay">Google Pay</option>
    </select>
    <p>You selected this type of payment method: {{ checkoutPayment.get('paymentMethod')?.value }}</p>
</form>

<form [formGroup]="checkoutPayment" (ngSubmit)="onSubmit()">
<div formGroupName="paymentDetails" *ngIf="checkoutPayment.get('paymentDetails') as detailsGroup">
    <h3>Payment Details</h3>
    <div *ngIf="checkoutPayment.get('paymentMethod')?.value === 'creditCard'">
        <input type="text" placeholder="Card Number" formControlName="cardNumber">
        <input type="text" placeholder="Card Holder Name" formControlName="cardHolderName">
        <input type="text" placeholder="Expiry Date (MM/YY)" formControlName="expiryDate">
        <input type="text" placeholder="CVV" formControlName="cvv">
    </div>
    <div *ngIf="checkoutPayment.get('paymentMethod')?.value === 'debitCard'">
        <input type="text" placeholder="Card Number" formControlName="cardNumber">
        <input type="text" placeholder="Card Holder Name" formControlName="cardHolderName">
        <input type="text" placeholder="Expiry Date (MM/YY)" formControlName="expiryDate">
        <input type="text" placeholder="CVV" formControlName="cvv">
    </div>
</div>
<button type="submit" [disabled]="checkoutPayment.valid">Submit Payment</button>
                   
<div *ngIf="checkoutPayment.get('paymentMethod')?.value === 'googlePay'">
<google-pay-button environment="TEST" [paymentRequest]="paymentRequest"
                   [buttonColor]="'black'"
                   [buttonType]="'buy'"
                   (loadPaymentData)="onLoadPaymentData($event)">Buy with GPay</google-pay-button>
</div>

<div *ngIf="checkoutPayment.get('paymentMethod')?.value === 'paypal'">
    <button><ngx-paypal [config]="paypalConfig"></ngx-paypal>Pay with PayPal</button>
</div>
<p>Form Status: {{ checkoutPayment.status }}</p>
<p>Form Value: {{ checkoutPayment.value | json }}</p>
</form>